{
    "description": "Configuration file used for the dev and prod environments. Create a copy named config.dev.json and config.prod.json",
    "environmentType": "dev",
    "env": {
        "account": "1234567890",
        "region": "us-east-1"
    },
    "vpc": {
        "name": "vpc",
        "maxAzs": 3
    },
    "s3": {
        "inputBucket": "rube-gold-input",
        "outputBucket": "rube-gold-output"
    },    
    "instance": {
        "name": "rube-app",
        "securityGroupName": "rube-app-sg",
        "roleManagedPolicyName1": "AmazonS3FullAccess",
        "roleManagedPolicyName2": "IAMFullAccess",
        "rolename": "guestbook-app-role",
        "existingRoleArn": "arn:aws:iam::1234567890:role/rube-app-role"
    },
    "iam": {
        "ssmRoleName": "ssm-role-ec2",
        "ssmExistingRoleArn": "arn:aws:iam::1234567890:role/ssm-role-ec2",
        "ssmManagedPolicyArn": "arn:aws:iam::aws:policy/AmazonSSMManagedInstanceCore",
        "ssmManagedPolicyName": "AmazonSSMManagedInstanceCore"
    }    
}    